.cover {
  margin: 40px 20px;
  overflow-x: scroll;

  width: 100%;
  height: 250px;
  display: flex;
}
/* muốn dùng overflow thì phải dùng với đối tượng có thuộc tính là block, 
và phải ràng buộc kích thước width, height cho nó,
sau đó dùng  display: flex nếu full màn hình*/
.pic {
  margin-right: 20px;
}
