.head {
  background-color: blue;
  color: white;
  width: 100%;
  height: 300px;
  margin: 0px;
}
.tieude {
  padding: 20px;
}
.button {
  margin-left: 20px;
  padding: 5px;
  background-color: rgb(10, 162, 250);
  color: white;
}
.inform {
  align-content: center;
  border-color: orange;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: -30px;
  background-color: white;
  position: relative;
}

.textForm {
  padding: 10px;
  margin-right: 70px;
  border: none;
  width: 215px;
}
.hien {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.an {
  display: none;
}
