.frame {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  background-color: rgba(235, 234, 234, 0.799);
}
.frame div {
  width: 100%;
  padding: 20px;
}
.sub {
  display: flex;
  width: 100%;
  height: 200px;
  align-items: center;
  /* display: flex;
  align-items: stretch; */
}
.col {
  width: 100%;
  text-align: left;
}
.inp {
  width: 400px;
  /* height: 50px; */
}
.btnSub {
  height: 60px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.724);
  color: white;
  font-size: large;
}
