.header {
  text-align: left;
}
.frame {
  display: flex;
  flex-wrap: wrap;
}
.frame div {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  word-wrap: break-word;
  width: 240px;
}

.frame img {
  width: 240px;
  height: auto;
}
/* .frame :hover {
  animation-name: background-color;
  animation-duration: 500ms;
}
@keyframes background-color {
  100% {
    background-color: #4791d0;
  }
} */
