.header {
  text-align: left;
}
.frame {
  display: flex;
  flex-wrap: wrap;
}
.frame div {
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
  word-wrap: break-word;
  width: 240px;
}

.frame img {
  width: 240px;
  height: auto;
}
.anh {
  opacity: 1;
}
.anh:hover {
  opacity: 0.6;
  transition-duration: 0.5s;
}
