.header {
  text-align: center;
}
.frame {
  display: flex;
}
.col {
  width: 100%;
  height: auto;
  margin: 10px;
  position: relative;
}

.frame img {
  width: 100%;
  height: auto;
  opacity: 1;
}

.frame img:hover {
  transition-duration: 0.5s;
  opacity: 0.6;
}
/* phải ghi dính liền img:hover ko được tách ra */
