.home {
  width: 70%;
  margin: auto;
}
.back {
  background-color: blue;
  color: white;
  width: 100%;
  height: 480px;
  margin: 0px;
  position: absolute;
  z-index: -1;
}
.part2 {
  padding: 30px 0;
  font-weight: bolder;
}
