.banner {
  position: relative;
  /* margin-top: 80px; */
}
.banner img {
  width: 100%;
  height: 740px;
  z-index: -2;
}
.signForm {
  position: absolute;
  width: 400px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
.signForm > h2 {
  width: 100%;
  height: auto;
  margin: 20px;
  margin-bottom: 50px;
  font-size: xx-large;
}
.form input {
  width: 100%;
  /* height: 40px; */
  border-collapse: collapse;
}
.btn {
  margin-top: 30px;
  height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.724);
  color: white;
  font-size: large;
}
.signForm > p {
  font-size: x-large;
  margin-top: 50px;
}
.signForm span {
  color: blue;
}
.err {
  color: red;
  text-align: center;
}
