.navbarFrame {
  width: 100%;
  height: 80px;
  color: red;
  /* border-width: 5px;
  border-style: solid;
  border-color: black; */

  background-color: transparent;

  position: fixed;
}
.transfer {
  background-color: black;
}
.chu {
  height: auto;
  position: absolute;
  top: 10px;
  margin: 0px;
  left: 20px;
}

.searchIcon {
  /* float: right; */
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 0px;
}
