.nav {
  background-color: blue;
  width: 100%;
  height: 180px;
  color: white;
  position: relative;
  margin: 0px;
}
.title {
  float: left;
  position: absolute;
  margin: 20px;
}
.button {
  background-color: aliceblue;
  color: rgb(91, 91, 250);
  float: right;
  right: 20px;
  margin: 20px;
  padding: 10px 20px;
}
