.container {
  display: flex;
  /* align-items: stretch; */
  text-align: left;
}
.left {
  /* flex-grow: 1; */
  margin-right: 30px;
  width: 25%;
  height: auto;
}
.left h4 {
  background-color: rgb(163, 170, 168);
  font-weight: 700;
  padding: 20px;
}
.left p {
  padding-left: 20px;
}
.right {
  width: 75%;
  padding-top: 50px;
}

.rightCol {
  /* flex-grow: 3; */
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
}
.rightCol div {
  width: 33%;
  height: auto;
}
.rightCol img {
  width: 100%;
  height: auto;
}
.box {
  word-wrap: break-word;
  text-align: center;
}
