.container {
  display: flex;
  align-items: stretch;
  text-align: left;
}
.leftCol {
  flex-grow: 1;
}
.rightCol {
  flex-grow: 3;
}
.leftCol h4 {
  width: 100%;
  background-color: rgb(163, 170, 168);
  font-weight: 700;
  padding: 20px;
}
.leftCol p {
  padding-left: 20px;
}
